html {
 margin: 0px;
}
ul {
    margin: 0px;
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #24292e;
}
li {
 float: right;
 margin-right: 10px;
}
li img {
 text-align: center;
 width: 32px;
 height: 32px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
body {
 margin: 0px;
}
.header {
 border-top: 5px solid #7289da; 
}
